.box-menu {
  position: fixed;
  top: 0.5rem;
  left: 0.5rem;
  /* background-color: aqua; */
  height: 98.5vh;
  z-index: 2;
}
.box-nav {
  /* margin-top: 0.5rem; */

  /* margin-left: 16.5rem; */
  padding: 0.5rem 0.5rem;
}
.box-content {
  min-height: 90%;
  padding-left: 18rem;
}
.box-content-in {
  min-height: 85vh;
}
.box-dashboard {
  height: 100vh;
}

.ul-menu {
  overflow-y: auto;
  overflow-x: hidden;
  /* background-color: aqua; */
  max-height: 95vh;
  /* min-height: 88vh; */
  padding-bottom: 10rem;
}
.box-footer {
  width: 100%;
  /* background-color: aqua; */
  bottom: 0;
  left: 0;
  /* position: absolute; */
  z-index: 0;
}

::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e3e3e3;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #9e9d9d;
}

.icon-socail:hover {
  color: rgb(0, 153, 255);
  cursor: pointer;
}
.menu-head {
  margin: auto;
}

.cursor {
  cursor: pointer;
}
.cursor:hover {
  cursor: pointer;
  box-shadow: #131313;
}

@media only screen and (max-width: 980px) {
  .box-menu {
    display: none;
  }
  .box-content {
    padding-left: 0.5rem;
  }
  .box-nav {
    padding-left: 0.5rem;
  }
}
